<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div class="hangmanGraphic">
        <img src="rscr/pendu{{.Try}}.png" alt="">
    </div>
    <div class="wordToFind">
        <h1 style="letter-spacing: 6px;">{{.WordToFind}}</h1>
    </div>
    <div>
        {{if .Endd}}
            <h2 style="display: flex; justify-content: center;">{{.Phrase}}</h2>
        {{else}}
        <h2 style="display: flex; justify-content: center;">Il vous reste {{.Try}} essais</h2>
        <h2 style="display: flex; justify-content: center;">Vous avez essayé les lettres : {{.LettreEssayees}}</h2>
        {{end}}
        <div class="inpdiv">
            <form action="/" method="post">
                <input type="text" placeholder="Saisir une lettre" name="lettre" maxlength="1" autofocus>
                {{if .Endd}}
                <input type="submit" value="Confirmer" disabled=/>
                {{else}}
                <input type="submit" value="Confirmer" />
                {{end}}
          </form>
          <form action="/reset" method="post">
            <input type="submit" value="Recommencer">
          </form>
    </div>      
    </div>
</body>
</html>